<footer class="custom-footer">
          <div class="custom-footer-title">Droits d’auteur</div>
          <div class="custom-footer-row">
            <div class="custom-footer-left">
              <div class="custom-footer-name">Kelyddon Diemunsch</div>
              <div class="custom-footer-phone">Numéro de tel: 06 13 07 50 10</div>
            </div>
            <div class="custom-footer-right">
              <div class="custom-footer-social-box">
                <div class="custom-footer-social-title">Réseaux sociaux</div>
                <div class="custom-footer-social-icons">
                  <a href="https://instagram.com" target="_blank"><img src="/images/instagram.png" alt="Instagram" class="custom-social-icon"></a>
                  <a href="https://linkedin.com" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn" class="custom-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </footer>