{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}

        <div class="project-form-title-card">
            <h1 class="projects-title">Créer un nouveau projet</h1>
        </div>
        {{ include('project/_form.html.twig') }}
{% endblock %}
