{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h1>Create new Project</h1>

    {{ include('project/_form.html.twig') }}

        <p style="margin-top:1rem">
            <a class="cv-button" href="{{ path('app_project_index') }}">Retour à la liste des projets</a>
        </p>
{% endblock %}
